.toast-container {
  position: fixed;
  z-index: 10000;
  pointer-events: none;
  padding: 20px;
  max-width: 500px;
}

.toast-container-top-right {
  top: 0;
  right: 0;
}

.toast-container-top-left {
  top: 0;
  left: 0;
}

.toast-container-bottom-right {
  bottom: 0;
  right: 0;
}

.toast-container-bottom-left {
  bottom: 0;
  left: 0;
}

.toast-container > * {
  pointer-events: auto;
}

/* Mobile & Tablet: up to 1023px */
@media (max-width: 1023px) {
  .toast-container {
    left: 0;
    right: 0;
    max-width: 100%;
    padding: 10px;
  }
}

